#root {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url("./bg-veins.png");
  padding: 4px;
  text-align: center;
}

.main-container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navigation {
  width: 100%;
}

.subjects {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  overflow-y: hidden;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0px;
  color: #9ac;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.9rem;
  text-align: left;
}

.main-categories {
  margin: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-categories button {
  margin: 2px;
}

.main-subjects {
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
}
.main-subjects button {
  margin: 2px;
}

.sub-subjects {
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}
.sub-subjects button {
  margin: 2px;
}

.subject {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: top;
  overflow-y: auto;
  height: 100%;
}

.subject .container {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}
